// button styling in here!

.hollow-btn {
  padding: 1rem;
  background-color: $white;
  color: $green;
  border: solid 2px $green;
  box-shadow: none;
  display: block;
  max-width: 15rem;
  text-align: center;
}

.hollow-btn:hover {
  cursor: pointer;
  background-color: $green;
  text-decoration: none;
  color: $white;
}

.btn-primary {
  padding: 1rem;
  background-color: $purple;
  color: white;
  border: solid 2px $purple;
  box-shadow: none;
  display: block;
  max-width: 15rem;
  text-align: center;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: $white;
  text-decoration: none;
  color: $purple;
}


.social-links-section{
  
}