// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
// ---npm run watch---

// @font-face {
//   font-family: "Coustard", serif;
//   src: url("../fonts/Coustard-Regular.woff") format("woff");
// }

// -------Color Variables-------
$purple: #b2a6cf;
$green: #2a5417;
$lightGreen: #8ee633;
$white: #f5f5f8;
$black: #0a0a0a;

$primary: $white;
$secondary: $green;

$link-color: $black;
$link-hover-color: $purple;

// button overwrites

// fonts
$font-family-sans-serif: "Coustard", serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$headings-font-family: "Archivo", sans-serif;

// breakpoints for container
$container-max-widths: (
  xl: 1600px,
);

.community-child {
  width: 80rem;
  margin-bottom: 5rem;

  img {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 2rem;
    max-width: 30rem;
  }
  p {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
  }
}

.site-main-volunteer {
  max-width: 50rem;
  padding: 15px;
}

main {
  margin-bottom: 5rem;
}

.community-child-content {
  display: flex;
  flex-wrap: wrap;

  p {
    flex: 50%;
    min-width: 30rem;
  }
}

@media (max-width: 500px) {
  .community-child-content {
    max-width: 25rem;
    padding: 0rem;

    p {
      min-width: 15rem;
    }
  }
}

.volunteer-body {
  h2 {
    width: 30rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.volunteer-header {
  margin-bottom: 4rem;
}

.volunteer-intro {
  margin-bottom: 5rem;
  flex-wrap: wrap;
  img {
    width: 35rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
  }
  div {
    min-width: 19rem;
    max-width: 50rem;
  }
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 0rem;
  li {
    flex: 1 1 20rem;
    // background-color: blue;
    list-style: none;
    text-align: left;
  }
}

.page-entry-content {
  padding: 15px;

  img {
    width: 100%;
  }

  .card {
    width: 30rem;
  }

  h3 {
    padding-top: 5rem;
  }
}

// -------------fonts----------

h1 {
  margin-bottom: 5rem;
}

h1,
h2 {
  font-weight: 800;
}

@media (min-width: 960px) {
  .community-child {
    h4 {
      width: 28rem;
      text-align: center;
    }
  }
}
