// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
// ---npm run watch---

// -------Color Variables-------
$purple: #b2a6cf;
$green: #2a5417;
$lightGreen: #8ee633;
$white: #f5f5f8;
$black: #0a0a0a;

$primary: $purple;
$secondary: $green;

$link-color: $black;
$link-hover-color: $purple;
