@import "./child_theme_variables";

.site-footer {
  color: $white;
  background-color: $purple;
  // max-width: 1140px;
  margin: 0 auto;
  // .nav-link {
  //   padding: 1rem;
  // }

  a {
    margin-right: 0rem;
  }

  p {
    font-family: "Archivo", sans-serif;
    margin: 1rem 0rem 0rem 0rem;
    color: $black;
    max-width: 10.9rem;
  }
  .site-info {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0rem;
    line-height: 1.25;
  }
}

#footer_menu {
  height: 15rem;
  flex-wrap: wrap;
  max-width: 22rem;
  margin-top: 1rem;
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
}

#wrapper-footer {
  background-color: $purple;
  .container {
    max-width: 1600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .site-footer {
    color: #f5f5f8;
    background-color: #b2a6cf;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .site-info {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    line-height: 1.25;
    flex: 0 0 41.6666666667%;
    max-width: 19rem;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 790px) {
  #footer_menu {
    height: 15rem;
  }

  #wrapper-footer {
    .site-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .site-footer {
    .site-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0rem 15px;
    }
  }
}
