// .home-entry-header .entry-content {
//   position: relative;
//   color: $white;
// }

// .home-entry-header img {
//   /* Set rules to fill background */
//   min-height: 50%;
//   min-width: 1024px;

//   /* Set up proportionate scaling */
//   width: 50%;
//   height: auto;

//   /* Set up positioning */

//   position: absolute;
//   z-index: -1;
//   width: auto;
//   object-fit: cover;
//   top: 0;
// }

// @media screen and (max-width: 1024px) {
//   /* Specific to this particular image */
//   img.bg {
//     left: 50%;
//     margin-left: -512px; /* 50% */
//   }
// }

.community-child {
  //   flex: 1;
  text-align: center;
  display: block;
  flex-grow: 1;

  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  a {
    display: block;
  }
}

// .main-button {
//   padding: 1rem;
//   background-color: $secondary;
//   color: white;
//   border: none;
//   box-shadow: none;
//   display: block;
// }
